<div class="container">
  <div class="title-container">
    <h1>Employees</h1>
  </div>
  <div class="btn-container">
    <button mat-raised-button (click)="onAddNew()">
      + Add new
    </button>
  </div>

  <div class="flex-wrapper">
    <!-- LEFT / LIST -->
    <div>
      <app-employee-list 
        [employees]="employees" 
        [selectedEmployee]="selectedEmployee"
        (employSelectionEmit)="onSelect($event)"
        (employDeletionEmit)="onDelete($event)"
      ></app-employee-list>
    </div>
    <!-- RIGHT / DETAIL -->
    <div class="employee-detail">
      <h2>Personal Information</h2>
      <form [formGroup]="personalInformationForm">
        <mat-form-field>
          <mat-label>Full Name</mat-label>
          <input matInput type="text" formControlName="fullName" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Address</mat-label>
          <input matInput type="text" formControlName="address" required />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" formControlName="phoneNumber" required />
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Select Position"
            formControlName="positionId"
            required
          >
            <mat-option
              *ngFor="let position of positions"
              [value]="position.positionId"
              >{{ position.positionName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div class="btn-container">
          <button mat-raised-button (click)="onSave()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
